.form,
.allPage {
    background-color: #24353f;
    font-family: 'Titillium Web', sans-serif;
}

.form {
    box-shadow: 0px 0px 30px #000;
}

.smart {
    color: #17a2b8;
}

.smartWelcome {
    color: #fff;
}

input {
    color: #fff !important;
}

input::placeholder {
    color: #adaaaa !important;
}

.welcome {
    margin-top: 190px;
}

.nav2 {
    box-shadow: 1px 1px 15px #000;
    background-color: #24353f;
}

@media (max-width: 576px) {
    .container {
        width: 100% !important;
        padding: 0 !important;
    }

    input.form-control {
        font-size: 18px !important;
        padding: 12x !important;
    }

    .allPage h2 {
        font-size: 20px !important;
    }
}